:root {
  --accent-color: #d41443;
  --main-color: #ffb8ca;
  --main-dark: #ffa5ba;
  --standart-white: #ffffff;
  --bg-sec-color: #f0d1a5;
  --bg-third-color: #c2e297;
  --main-text-color: #000000;
  --second-text-color: #907e82;
  --accent-font: "Titan One", cursive;
  --main-font: "DM Sans", sans-serif;
}
